<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Sistema de notificaciones</span>
      </a>

      <ul class="nav">
        <li class="nav-item"><a routerLink="home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a routerLink="publisher" class="nav-link">Publicador</a></li>
      </ul>
    </header>