<div class="container">

    <div class="row">
      <div class="col-5">
        <div class="mb-3">
          <label for="notification" class="form-label">Nueva notificación</label>
          <textarea [(ngModel)]="notification" type="text" maxlength="140" class="form-control" id="notification"></textarea>

        </div>
        <div class="mt-2 text-center">
            <button (click)="sendNotification()" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      <div class="col-2">
        
      </div>

      <div class="col-5">
        <label for="notification" class="form-label">Listado de suscriptores: </label>
        <ul class="list-group">
          <li *ngFor='let subscriber of subscribers' class="">{{subscriber.name}}</li>
        </ul>
        <div class="mt-2 text-center">
          <button (click)="refreshSubscribers()" class="btn btn-primary">Actualizar</button>
      </div>
      </div>
      
    </div>
</div>