<div class="container">


    <div *ngIf="!userSubscribe" class="row g-3">
        <div class="col-auto">
          <input  [(ngModel)]="username" class="form-control" type="text" maxlength="10" placeholder="Nombre de usuario" aria-label="default input example">
        </div>
        
        <div class="col-auto">
          <button (click)="subscribe()" class="btn btn-primary mb-3">Suscribirse</button>
        </div>
    </div>

    <div *ngIf="userSubscribe" class="row g-3">
        <div class="col-auto">
            <input type="text" readonly class="form-control-plaintext"  value="Bienvenido {{username}}">
        </div>
        
        <div class="col-auto">
          <button (click)="unsubscribe()" class="btn btn-primary mb-3">Cancelar suscripción</button>
        </div>


        <div class="row">
            <div [innerHTML]="notificationService.notifications"></div>
        </div>

    </div>
      
    
</div>
